:root {
    --primary: white;
    --dark: black;
    --light: #fff;
    --shadow: 0 1px 5px rgba(27, 27, 27, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
    margin: 0;
    padding: 0;
}

body {
    background: white;
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    clear: both;
}

.main-nav {
    grid-area: nav;
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: (1, 1fr);
}

.links {
    grid-column: 3/6;
    grid-row: 1;
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    grid-column: 0/6;
    grid-row: 1;
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--light);
    font-size: 1.1rem;
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}

.top-container {
    padding-left: -10%;
    display: grid;
    background-size: cover;
    background-position: center;
    width: 100vw;
    grid-gap: 20px;
    background-image: url(pictures/background2.jpeg);
    grid-template-areas: 'nav' 'showcase' 'showcase';
}

.showcase {
    display: flex;
    grid-area: showcase;
    min-height: 400px;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow);
}

.showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: var(--light);
}

.boxes {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.form {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    font-family: 'Josefin Slab', serif;
}

.answers {
    display: flex;
    justify-content: center;
    text-align: center;
}

h3 {
    font-family: 'Josefin Slab', serif;
}

.encrypt {
    background: var(--primary);
    padding: 1.5rem 2rem;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0.5px inset #000000;
    font-weight: bold;
}